@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";
@import "https://use.fontawesome.com/releases/v6.6.0/css/all.css";
@import "/static/styles/notifications.css";

body {
    background-image: url("/static/img/bg.webp");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

:root {
    --bulma-primary-rgb: rgba(214, 105, 0);
    --bulma-primary-h: 29deg;
    --bulma-primary-s: 100%;
    --bulma-primary-l: 42%;
}

.mt-7 {
    margin-top: 4.5rem;
}

.mt-8 {
    margin-top: 6rem;
}

.mt-9 {
    margin-top: 7.5rem;
}

.box {
    --bulma-box-background-color: hsla(221, 14%, 9%, 0.8);
}

.input {
    background-color: hsla(var(--bulma-input-h),var(--bulma-input-s),calc(var(--bulma-input-background-l) + var(--bulma-input-background-l-delta)), 0.2);
}

.table {
    --bulma-table-background-color: rgba(0, 0, 0, 0);
    --bulma-table-cell-background-color: rgba(0, 0, 0, 0);
}

.button.is-primary[disabled] {
    background-color: rgba(0, 0, 0, 0);
    opacity: 0.3;
}

.centered-box {
    margin-left: auto;
    margin-right: auto;
}

.tip {
    background-color: hsla(0, 0%, 0%, 0.4);
    border-inline-start-color: hsl(var(--bulma-primary-h), var(--bulma-primary-s), var(--bulma-primary-l));
}

@media screen and (max-width: 768px) {
    .only-desktop {
      all: unset;
    }

    .header-centered {
        margin-bottom: 0.5rem;
    }

    .centered-box {
        width: 89%;
    }
}

@media screen and (min-width: 768px) {
    .header-centered {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .cell.is-col-span-3-tablet {
        --bulma-grid-cell-column-span: 3
    }

    .centered-box {
        width: 450px;
    }
}




.footer-custom {
    display: flex;
    justify-content: center;
    flex-grow: 1
}

.footer-custom .columns {
    display: flex;
    flex: 1;
}

.footer-custom .column {
    display: flex;
    align-items: flex-end;
    padding-bottom: 0;
}

.footer-custom .box {
    flex: 1;
}

.footer-qrs {
    display: flex;
    justify-content: space-between;
    font-weight: 500 !important;
    line-height: 1.8em !important;
    font-size: 18px;
}

.footer-qr {
    width: 50%;
    display: flex;
    align-self: flex-start;
    justify-content: space-between;
}

.footer-qr:last-child {
    flex-direction: row-reverse;
}

.footer-qr div {
    flex-grow: 1;
    display: flex;
    padding: 0 2rem;
}

.footer-qr div a {
    color: white;
}

.footer-qr:last-child div {
    flex-direction: row-reverse;
    text-align: right;
}

.footer-qrs .vertical-line {
    position: absolute;
    z-index: 100;
    transform: translate(-50%, 0%);
    left: 50%;
    border-right: 2px solid white;
    height: 120px;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    margin-top: 1rem;
    font-weight: 500 !important;
    font-size: 18px;
    flex-wrap: wrap;
    row-gap: 0.5rem;
}

.footer-links a {
    color: hsl(var(--bulma-primary-h), var(--bulma-primary-s), var(--bulma-primary-l)) !important;
    text-align: center;

}

.footer-copyrights {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    font-weight: 500 !important;
    font-size: 14px;
    color: hsl(0, 0%, 48%);
    text-align: center;
}

@media screen and (max-width: 1215px) {
    .footer-qrs {
        font-size: 16px;
    }
}

@media screen and (max-width: 873px) {
    .footer-qr img {
        display: none;
    }

    .footer-qrs .vertical-line {
        height: 50px;
    }
}

@media screen and (max-width: 635px) {
    .footer-qrs {
        gap: 1rem;
        flex-direction: column;
        justify-content: center;
    }

    .footer-qr {
        align-self: center;
        width: auto;
        text-align: center;
    }

    .footer-qr:last-child {
        flex-direction: inherit;
    }

    .footer-qr:last-child div {
        flex-direction: inherit;
        text-align: inherit;
    }

    .footer-qrs .vertical-line {
        display: none;
    }
}